.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-bottom: 0px;
}

.temperaments {
    margin-top: 5px;
    margin-bottom: 15px;
}

.height_weight {
    margin: 5px;
}

.p {
    color: black;
}

.image {
    width: 350px;
    /* border-style: solid;
    border-width: 10px; */
}