.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    background-color: blue;
    margin-bottom: 5px;
    width: 400px;
    border-radius: 15px;
    padding-bottom: 5px;
}

.hw_container{
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.height_weight {
    margin: 5px 25px 5px 25px;
    border-radius: 15px;
}

.temperaments {
    background-color: brown;
    margin: 0px 0px 5px 0px;
    width: 400px;
    border-radius: 15px;
    padding: 3px 0px 5px 0px;
}

.image {
    width: 400px;
    border-radius: 15px;
}