@font-face {
    font-family: good;
    src: url(.../../../../assets/fonts/GOODDP_.TTF);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create {
    width: 50px;
    height: 50px;
    padding: 0px;
    border: none;
    border-radius: 30px;
    margin: 25px 0px 15px 0px;
    color: rgb(211, 224, 100);
    background: linear-gradient(45deg, rgb(40, 40, 40), rgb(40, 40, 40));
    cursor: pointer;
    font-weight: 300;
    font-size: 40px;
    font-family: good;
    text-indent: 9px;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 5px;
    animation-name: button;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all 0.2s ease-in-out;
}

.create:hover {
    text-indent: 0px;
    letter-spacing: 0px;
    animation: none;
    width: 180px;
}

@keyframes button {
    0% {
        transform: scale(0.9, 0.9);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}