@font-face {
    font-family: good;
    src: url(../../assets/fonts/GOODDP_.TTF);
}

.container {
    background: linear-gradient(90deg, rgb(223, 223, 223), rgb(202, 204, 181));
    display: flex;
    flex-direction: column;
    width: 230px;
    border-radius: 25px;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 2px 3px 5px 0px rgb(40, 40, 40);
    transition: all .2s ease-in-out;
}

.container:hover {
    border-radius: 5px;
    scale: 1.02;
    z-index: 2;

    .image_container {
        border-radius: 5px;
    }
}

.name {
    text-transform: uppercase;
    font-size: 25px;
    font-family: good;
    font-weight: bolder;
    /* background: linear-gradient(90deg, rgb(211, 224, 100), rgb(222, 233, 126)); */
    color: rgb(40, 40, 40);
    margin-left: 7px;
    margin-right: 7px;
    vertical-align: middle;
    padding: 5px;
    height: 45px;
    border-radius: 15px;
}

.temperaments {
    font-size: 70%;
    font-weight: bolder;
    color: rgb(40, 40, 40);
    height: 35px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 25px;
}

.weight {
    font-size: 80%;
    font-weight: bolder;
    height: 20px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 3px 5px 1px 5px;
    width: 75px;
    align-self: center;
    /* background: linear-gradient(90deg, rgb(211, 224, 100), rgb(222, 233, 126)); */
    color: rgb(40, 40, 40);
    border-radius: 15px;
}

.image_container {
    transition: all .2s ease-in-out;
    align-self: center;
    height: 9em;
    width: 13em;
    overflow: hidden;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(222, 233, 126);
}

.image {
    width: 100%;
    height: 100%;
}