.container {
    /* background-color: #053644; */
}

.name {
    font-weight: bolder;
    width: 362px;
    border-radius: 10px;
    border: none;
    background-color: rgb(211, 224, 100);
}

.menu {
    width: 145px;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 0px 2px 0px 2px;
    background-color: rgb(211, 224, 100);
}

.sort_active {
    font-weight: bolder;
    background-color: rgb(211, 224, 100);
    background-color: green;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
}

.sort_active:active {
    scale: 0.96;
}

.sort_inactive {
    font-weight: bolder;
    background-color: none;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    background-color: rgb(211, 224, 100);
}

.sort_inactive:active {
    scale: 0.96;
}

.button {
    font-size: 11px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    margin: 10px 6px 6px 6px;
}

.button:hover {
    background-color: rgb(185, 185, 185);
}

.button:active {
    scale: 0.96;
}