.name {
    font-weight: bolder;
    width: 386px;
    border-radius: 10px;
    border: none;
    background-color: rgb(40, 40, 40);
    color: rgb(211, 224, 100);
    text-align: center;
}

.menu {
    width: 155px;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 0px 2px 0px 2px;
    background-color: rgb(211, 224, 100);
    color: rgb(40, 40, 40);
}

option:checked,
option:hover {
    background-color: rgb(40, 40, 40);
    color: rgb(211, 224, 100);
}

.menu * {
    font-weight: bold;
}

.sort_active {
    font-weight: bolder;
    background-color: rgb(40, 40, 40);
    color: rgb(211, 224, 100);
    border: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    transition: all 0.2s ease-in-out;
}

.sort_active:active {
    scale: 0.96;
}

.sort_inactive {
    font-weight: bolder;
    background-color: none;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    background-color: rgb(211, 224, 100);
    color: rgb(40, 40, 40);
    transition: all 0.2s ease-in-out;
}

.sort_inactive:active {
    scale: 0.96;
}

.button {
    background-color: rgb(40, 40, 40);
    color: rgb(211, 224, 100);
    font-size: 13px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    margin: 10px 6px 10px 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: rgb(211, 224, 100);
    color: rgb(40, 40, 40);
}

.button:active {
    scale: 0.96;
}