.left_bot_dog {
    width: 12vw;
    min-width: 100px;
    max-width: 280px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    animation-name: slide-in-left;
    animation-duration: 1s;
}

.right_bot_dog {
    width: 12vw;
    min-width: 100px;
    max-width: 280px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    animation-name: slide-in-right;
    animation-duration: 1s;
}

.left_bar {
    background: linear-gradient(90deg, rgb(211, 224, 100), rgb(222, 233, 126));
    position: fixed;
    left: 0px;
    top: 0px;
    width: 8vw;
    min-width: 50px;
    height: 100%;
    z-index: -1;
}

.right_bar {
    background: linear-gradient(90deg, rgb(211, 224, 100), rgb(222, 233, 126));
    position: fixed;
    right: 0px;
    top: 0px;
    width: 8vw;
    min-width: 50px;
    height: 100%;
    z-index: -1;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px)
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px)
    }

    100% {
        transform: translateX(0px);
    }
}