.container {
    width: 100%;
    min-height: 90px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgb(40, 40, 40);
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    /* justify-content: space-between; */
}

.top_image{
    height: 90px;
}

.home {
    /* margin-right: 10vw; */
}