.container {
    width: 100%;
    min-height: 70px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    background-color: #096780;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    /* justify-content: space-between; */
}

.home {
    /* margin-right: 10vw; */
}